@model DeckSorter.Models.ViewModels.DeckCreateViewModel
<div class="form deckcreate-form">
	<h2>Создание новой колоды</h2>
	<hr />
	<form class="create" asp-action="DeckCreate" asp-controller="Home" asp-anti-forgery="true">
		<div class="validation" asp-validation-summary="ModelOnly" />
		<div class="form-body">
			<section class="form-section">
				<label asp-for="Name">Введите имя колоды</label>
				<input class="input-field" type="text" asp-for="Name" />
				<span asp-validation-for="Name"></span>
			</section>
			<section class="form-section">
				<label asp-for="Size">Введите размер колоды</label><br />
				<input class="input-field" type="radio" asp-for="Size" value="52" checked />
				<span>52</span> 
				<input class="input-field" type="radio" asp-for="Size" value="36" checked />
				<span>36</span> <br />
				<span asp-validation-for="Size"></span>
			</section>			
			<section class="form-section">
				<input class="submit-button" type="submit" value="Создать" />
			</section>			
		</div>
	</form>
</div>
