@using DeckSorter.Models.ViewModels
@model DeckViewModel
@{
	ViewData["Title"] = "Deck Detail";
}
<link rel="stylesheet" href="~/css/cardslist.css" />
<h3>Колода "@Model.Name"</h3>
<div class="cardsregion">
			@for (int i = 0; i < Model.Cards.Length; i++)
			{
				string imagePath = "../cards/" + Model.Cards[i] + ".png";
				<div class="cardblock">
					<div class="cardimagediv">
						<img src=@imagePath alt="">
					</div>
					<span class="name">@(i+1)</span>				
				</div>
			}
</div>
